



<div class="container">
  <div class="row">
    <div class="col-xs-6 col-xs-offset-3">
      <div class="form-group padded">
        <h1 class = 'text-center padded' >New Cocktail</h1>

  <%= render 'form', cocktail: @cocktail, class: 'button' %>

  <%= link_to 'Back', cocktails_path, class: 'btn draw-border special'%>

      </div>
    </div>
  </div>
</div>

