@import "home";

.container{
  width: 85%;
}

.wrapper-grey{
background-color: white;
padding: 50px 0;
}

.padded {
  padding: 15px 15px;
}

.new{
  color: black;
  opacity: 0.8;
  &:hover{
    text-decoration: none;
    opacity: 1;
    color: black;
  }
}
